<!-- Page where users are directed after login -->

<!-- Navigation Bar -->
{% extends "base.html" %}

{% block content %}
<body>
    <nav>
        <div class="logo">
            <h4>Dashboard</h4>
        </div>
        <div class="dashboard">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="/newwhiteboard/">Create Whiteboard</a></li>
                <li><a href="/profile/">Profile</a></li>
                <li><a href="/logout/" class="button">Logout</a></li>
            </ul>
        </div>
    </nav>
</body>
{% endblock %}
