<!-- Page where users are directed after login -->
{% extends "myapp/base.html" %}


{% block content %}
{% if user.is_authenticated %}
<!-- Navigation Bar -->
<body>
    <nav>
        <div class="logo">
            <h4>Dashboard</h4>
        </div>
        <div class="dashboard">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/newwhiteboard/">Create Whiteboard</a></li>
                <li><a href="/profile/">Profile</a></li>
                <li><a href="/logout/" class="button">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="whiteboards">
        <h5>Whiteboards</h5>
        <ul>
            {% for w in whiteboards %}
            <li>
                <a href="/chat/" class="button">{{ w.subject }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Displays Whiteboards Created by User -->
</body>
{% endif %}
{% endblock %}
