<!-- Form for users to create a new whiteboard -->
<!-- Features: private/public, subject -->
{% extends "myapp/base.html" %}
{% block title %}<Insert Title>{% endblock %}

{% block content %}

<form action="/submit" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" class="button" value="Submit">
</form>

  <!-- <div>
  <form action="/dashboard/" method="post">
    {% csrf_token %}
    {{ whiteboard_form.errors }}
    {{ whiteboard_form.subject.label }}
    {{ whiteboard_form.subject }}
    {{ whiteboard_form.whiteboard_key.label }}
    {{ whiteboard_form.whiteboard_key }}
    <input type="submit" class="button" value="Submit">
  </form>
</div>-->
{% endblock %}
