<!-- Form for users to create a new whiteboard -->
<!-- Features: private/public, subject -->
{% extends "myapp/base.html" %}
{% block title %}<Insert Title>{% endblock %}

{% block content %}
<div>
  <form action="/" method="post">
    {% csrf_token %}
    <!-- Displays any errors when user fills out form -->
    {{ whiteboard_form.errors }}
    <!-- Displays the subject's field label -->
    {{ whiteboard_form.subject.label }}
    <!-- Displays the subject's field -->
    {{ whiteboard_form.subject }}
    <!-- Displays the public/private checkbox label -->
    {{ whiteboard_form.whiteboard_key.label }}
    <!-- Displays the public/private checkbox -->
    {{ whiteboard_form.whiteboard_key }}
    <input type="submit" class="button" value="Create">
  </form>
</div>
{% endblock %}
