{% extends "myapp/base.html" %}

{% block content %}
<body>
  <form action="/register/" method="post">
    <div class="container">
      <h4>Create an Account</h4>
      <div class="form">
        {% csrf_token %}
        {{ registration_form.errors }}
        <p>{{registration_form.first_name }}</p>
        <p>{{registration_form.last_name }}</p>
        <p>{{registration_form.username }}</p>
        <p>{{ registration_form.email }}</p>
        <p>{{ registration_form.password1 }}</p>
        <p>{{ registration_form.password2 }}</p>
        <button class="button">Register</button>
      </div>
    </div>
  </form>
</body>
{% endblock %}
