{% extends "myapp/base.html" %}

{% block content %}
{% load static %}


<nav>
    <div class="logo">
        <h4>bettertogether</h4>
    </div>
    <div class="navbar-button">
        <ul>
            <li><a href="login/" class="button">Login</a></li>
        </ul>
    </div>
</nav>
<div class="box">
    <img src="{% static 'img/logo.jpg' %}" alt="logo" />
    <p>Create • Innovate • Collaborate</p>
    <a class="button" href="register/">Signup Here</a>
</div>
<div class="grid">
    <div class="column1">
        <img src="{% static 'img/teamwork.png' %}" alt="teamwork" />
        <p>bettertogether is an online whiteboard designed to help
            students with their projects, homework, and studying.
        </p>
    </div>
    <div class="column2">
        <img src="{% static 'img/chat.png' %}" alt="chat" />
        <p>bettertogether can allowed students to communicate with
            each other easily by using our built in live chat feature.
        </p>
    </div>
    <div class="column3">
        <img src="{% static 'img/lightbulb.png' %}" alt="lightbulb" />
        <p>Our website is design to help you be creative and allow you
            to create ideas.
        </p>
    </div>
    <div class="column4">
        <img src="{% static 'img/whiteboard.png' %}" alt="whiteboard" />
        <p> Our online whiteboard will .... hhh hhhh hhhh hhhyyyyy yyh
            hh hhytf hhgt.
        </p>
    </div>
</div>
{% endblock %}