{% extends "base.html" %}
{% load static %}

{% block content %}
{% load static %}
<html lang="en>">

<head>
</head>

<body>
    <nav>
        <div class="logo">
            <h4>bettertogether</h4>
        </div>
        <div class="navbar-button">
            <ul>
                <li><a href="http://localhost:8000/login/" class="button">Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="box">
        <img src="{% static 'img/logo.jpg' %}" alt="logo" />
        <p>Create ∙ Innovate • Collaborate</p>
        <a class="button" href="http://localhost:8000/register/">Signup Here</a>
    </div>


{% endblock %}

</body>

</html>

