* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(107, 173, 226); 

}

nav {
    display: flex; 
    justify-content: space-around;
    background-color: coral;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
}

.logo {
    color: rgb(247, 243, 231);
    letter-spacing: 5px;
}

.navbar-button li {
    list-style: none;
    display: inline-block; 
    height: 42px;
    padding: 12px; 
}

.navbar-button a {
    background-color: rgb(107, 173, 226); 
    color: rgb(247, 243, 231);
    letter-spacing: 2px;
    font-weight: bold;
}

img {
    position: relative;
    top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box {
    background-image: url(../img/backgroundpic.jpg);
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box p {
    text-align: center;
    position: absolute;
    left: 0;
    top: 63%;
    width: 100%;
    color: orange;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;

}

.box a {
    position: relative;
    bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
    background-color: rgb(107, 173, 226); 
    color: rgb(247, 243, 231);
    letter-spacing: 2px;
    padding: 7px;
    font-weight: bold;
} 

.grid {
    margin: 1rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 1%;
}

.column1 {
    text-align: center;
    padding: 1.5rem 2rem;
    background-color: rgb(247, 243, 231);
    font-family: 'Josefin Sans', sans-serif;
}

.column1 img {
    position: relative;
    top: -10px;
}

.column1 p {
    margin: 1rem;
}

.column2 {
    text-align: center;
    padding: 1.5rem 2rem;
    background-color: rgb(247, 243, 231);
    font-family: 'Josefin Sans', sans-serif;
}

.column2 img {
    position: relative;
    top: -5px;
}

.column2 p {
    margin:1rem;
}

.column3 {
    text-align: center;
    padding: 1.5rem 1rem;
    background-color: rgb(247, 243, 231);
    font-family: 'Josefin Sans', sans-serif;
}

.column3 img {
    position: relative;
    top: -20px;
}

.column4 {
    text-align: center;
    padding: 1.5rem 2rem;
    background-color: rgb(247, 243, 231);
    font-family: 'Josefin Sans', sans-serif;
}

.column4 img {
    position: relative;
    top: -10px; 
}

.column4 p {
    margin:1rem;
}

.loginpage h4 {
    text-align:center;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(247, 243, 231);
    margin: 1rem;
}


.container {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(247, 243, 231);
    width: 100%;
    display: inline-block;
}

.container h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin: 1rem;
    font-size: 20pt;
    text-align: center;
}

button {
    font-weight: bold;
    width:430px;
}

.container p {
    width:430px;
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    padding: 30px;
}

.loginpage h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    margin: 1rem;
    font-size: 20pt;
    text-align: center;
}

.login p {
    width:430px;
}

.dashboard li {
    list-style: none;
    display: inline-block; 
    height: 42px;
    padding: 12px; 
}

.form a {
    font-weight: bold;
    width:430px;
}

.form .button {
    font-weight: bold;
    width:430px; 
}

.canvas {
    border: 2px solid black;
}

.toolbar {
    width: 100%;
    height: 50px;
}


h1 {
    text-align: center;
}

.rounded-circle {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding: 5px;
}

.profilebox {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.profilebox p {
    font-size: larger;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40px;
    left: 87px;
}

.profilebox img {
    top: 10px;
}

.profilebutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    top: 100px;
    text-align: center;
}

.whiteboards li {
    list-style: none;
}

.whiteboards h5 {
    color: rgb(247, 243, 231);
    margin: 1rem;


