* {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    box-sizing: border-box;
}

.columns {
    position: absolute;
    right: 0px;
    width: 200px;
    min-width: 390px;
    height: 630px;
    background-color: rgb(107, 173, 226);
    bottom: -10px;
}

textarea {
    width: 92%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 1rem;
}

.room_grid {
    width: 15%;
}

.messagebox {
    width: 78%;
    display: block;
    position: relative;
    left: 10px;
}

.chatbutton {
    padding: 10px;
    position: relative;
    left: 333px;
    bottom: 80px;
}

h4 {
    background-color: coral;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.messagenavbar {
    position: relative;
    bottom: 30px;
}

.canvas {
    border: 2px solid black;
}

.toolbar {
    width: 100%;
    height: 50px;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: coral;
}

.canvas {
    width:69%;
    height: 90%;
    position: absolute;
    bottom:20px;
}